

body{
	border:20px solid #bdc3c7;
	padding: 20px;          
	max-width:700px;
	width: 80%;
	margin:20px auto;   /* this means 0 px on top and bottom and center on left and right....and also u can use px for body and then for other ele u can give % meaning 5% of 20px...so giving body px values is fine   */ 
	font-family: 'Open Sans', sans-serif; /*if u apply to body it'll work for all*/
    background-image: linear-gradient(to left, #667eea  , #764ba2);



}
	         
}

h2{
	color: #2c3e50;
	
}

.r{
	font-size: 2.0vw;  /*resposive text....can have 2 rem instead*/
}



.bor{
	border-left:5px solid #bdc3c7;
	padding-left:5px; 
}

.dat{
	text-transform: uppercase;
	color:#3499ff;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.2rem;  
	

}


p{

	font-size: 1.2vw; /*resposive text....can have 1 remm instead*/

}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 5%;
    margin-bottom: 5%;

}

.post{
	margin-bottom: 6%;
}
